
#__bs_notify__
{
	display: none!important;
}

*
{
	box-sizing: border-box;
}
/*------------------ICONS--------------------*/
.ico_search
{
	background: no-repeat center/1rem url("../data/images/ico/search-solid.svg");
}

.money-bill
{
	background: no-repeat center/1.2rem url("../data/images/ico/money-bill-wave-solid.svg");
}

.child
{
	background: no-repeat center/1rem url("../data/images/ico/child-solid.svg");
}

.heart
{
	background: no-repeat center/1rem url("../data/images/ico/heart-solid.svg");
}

.dog
{
	background: no-repeat center/1.2rem url("../data/images/ico/dog-solid.svg");
}

.ico_star, .ico_star_off
{
	width: 0.75rem;
	height: 0.75rem;
	margin-right: 0.125rem;
}

.ico_star
{
	background: no-repeat center/cover url("../data/images/ico/star-solid-light.svg");
}

.ico_star_off
{
	background: no-repeat center/cover url("../data/images/ico/star-solid-light-off.svg");
}
.stars
{
	display: flex;
	margin-left: 0.7rem;
}

#map_marker
{
	width: 3.125rem;
	height: 3.125rem;
	background: no-repeat center/1rem url("../data/images/ico/map-marker-alt-solid.svg") #f2f2f2;
	border-radius: 1rem 0 0 1rem;
}

@font-face
{
	font-family: 'Raleway';
	src: url('../polices/raleway-variablefont_wght-webfont-regular.eot');
	src: url('../polices/raleway-variablefont_wght-webfont-regular.eot?#iefix')
	format('embedded-opentype'),
	url('../polices/raleway-variablefont_wght-webfont-regular.woff')
	format('woff'),
	url('../polices/raleway-variablefont_wght-webfont-regular.woff2')
	format('woff2'),
	url('../polices/raleway-variablefont_wght-webfont-regular.ttf')
	format('truetype'),
	font-weight: normal;
	font-style: normal;
}

body
{	
	margin: 0;
	padding: 0;
	font-family: Raleway, sans-serif;
	font-size: 1rem;
}


#main_wrapper, body, main, footer
{
	width: 100%;
	overflow-x: hidden;
}
#main_wrapper
{
	position: absolute;
}

#search_bar,
#filters,
#info,
footer ul,
.tiles_img,
figcaption,
h2:not(#search_title), 
.stars, 
.more 
{
	margin: 0 3.972%;
}

h2
{
	font-weight: bold;
}

nav
{
	display: flex;
	flex-wrap: wrap;
}

nav *
{
	width: 50%;
	text-align: center;
	text-decoration: none;
	color: black;
}
nav p a
{
	font-weight: bold;
}
nav #subscribe
{
	text-align: right;

}
nav #subscribe a 
{
	margin-right: 8%;
	padding: auto 0;
	color: #0065fc;
}
.nav_links a
{
	padding: 1rem;
	width: auto;
	display: block;
	border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}
.nav_links a:hover
{
	color: #0065fc;
	border-bottom: 2px solid #0065fc;
}
nav #logo
{

	text-align: justify;
}
nav #logo img
{
	width: 8.125rem;
	margin-left: 1.5rem;
}

#search_set
{
	width: auto;
	max-width: 420px;
	display: flex;
	justify-content: center;
	flex-basis: auto;
	margin-bottom: 2.5rem ;
}

#search_input
{
	position: relative;
	width: auto;
	flex-grow: 2;
	border: 1px solid #f2f2f2;
	border-radius: 0 1rem 1rem 0;
	font-size: 1.125rem;
	padding-left: 1rem;
	font-weight: bolder;
}
#search_set button
{
	position: absolute;
	width: 3.125rem;
	height: 3.125rem;
	background-color: #0065fc;
	border: none;
	border-radius: 1rem;
	right:3.972%;
	color: transparent;
	font-size: 1.125rem;
}


label
{
	display: block;
	margin-bottom: 2.5rem;
}

.checkable
{
	display: none;
}
.checkable:checked + label.filter_contain
{
	background-color: #deebff;
	border-color: #deebff;
}

#filters
{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2.5rem;
}
#filter_text
{
	width: 100%;
	font-weight: bold;
	font-size: 1.125rem;
}

.filter_contain
{
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	border: 2px solid #d9d9d9;
	width: auto;
	height: 3em;
	padding-right: 1rem;
	margin:auto 1rem 1rem 0;
	border-radius: 2rem;
}


.ico_filter
{
	position: absolute;
	width: 3rem;
	height: 3rem;
	top: -2px;
	left: -2px;
	border-radius: 1.5rem;
	background-color: #deebff;

}
p.text_filter
{
	padding-left: 3.2rem;
	margin: 0;
	font-weight: bold;
	font-size: 1.125rem;
}

#info
{
	position: relative;
	display: flex;
	margin-bottom: 2.5rem;
}
#info p
{
	margin: auto;
	margin-left: 2.375rem;
}

#ico_info
{
	position: absolute;
	width: 1.5rem;
	height: 1.5rem;
	padding:0.22rem;
	top: -0.32rem;
	background: no-repeat center/20% url("../data/images/ico/info-solid.svg");
	border-radius: 0.75rem;
	border: 1px solid #f2f2f2;
}

.tiles_img img
{
	position: relative;
	object-fit: cover;
	width: 100%;
	height: 100%;	
}

figure
{
	
	box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.15);
	border-radius: 1.2rem;
	background-color: #fff;
	padding: 0.3rem;
	margin:0 0 0.75rem 0;

}


span
{
	font-weight: bolder;
}

.price_tile
{
	font-size: 0.875rem;
}
#famous
{
	background-color: #f2f2f2;
}

#famous, #home, #activities
{
	padding: 1rem;
}
#home h2
{
	padding: 1.5rem 0;
	margin: 0;
}
#activities h2
{
	padding: 0 0 1.5rem 0;
}
#famous h2
{
	padding: 2.5rem 0;
	margin: 0;
	background: no-repeat 
	content-box 
	right 
	center/1.5rem 
	url("../data/images/ico/chart-line-solid.svg");
}
#famous figure figcaption *,
#activities h2  
{
	margin: 0;
}
#famous figure
{
	display: flex;
	height: 144px;

}
#famous figure .tiles_img
{
	max-width: 40%;
	height: auto;
	overflow: hidden;
	margin: 0;
	border-radius: 1rem 0 0 1rem;
}
#famous figure figcaption
{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	padding: 0.3rem;
}

#home figure figcaption *
{
	margin: 0.3rem 0;
}

#home_tiles figure, #activities_tiles figure
{
	display: flex;
	flex-flow: row wrap;
	min-height: 210px;
}

#home_tiles figure figcaption
{
	align-self: start;
	min-height: 66px;
}
#home figure .tiles_img
{
	max-height: 114px;
	overflow: hidden;
	border-radius: 1rem 1rem 0 0;
	margin: 0;
	display: flex;
	flex-flow: column wrap;
	align-content: space-between;
}

p.more 
{
	padding: 1.25rem 0;
	margin: 1rem 0 0 0;
}
p.more a
{
	text-decoration: none;
	font-weight: bold;
	color: black;
}
#activities
{
	margin-bottom: 3.75rem;
}
#activities figure
{
	padding: 0;
	margin-bottom: 1.625rem;
}
#activities figure figcaption
{
	font-weight: bold;
	margin: 1.5rem auto 1rem 1.25rem;

}

#activities figure .tiles_img
{
	overflow: hidden;
	border-radius: 1rem 1rem 0 0;
	max-height: 180px;
	width: 100%;
	margin: 0;
}

footer
{
	background-color: #f2f2f2;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 2rem 1rem;
	padding-bottom: 1rem;
}
footer ul
{
	margin: 1rem  1rem;
	padding: 0;
}
footer ul li
{
	display: block;
	padding-bottom: 1rem;
	list-style-type: none;
	margin: auto 0;
}
footer ul li a
{
	margin: 0.75rem 0;
	text-decoration: none;
	color: black;
}



@media all and (min-width: 540px)
{
	
	#search_set button
	{
		width: auto;
		position: relative;
		border-radius: 0 1rem 1rem 0;
		background-image: none;
		font-size: 1.125rem;
		color: white;

	}
	#search_input
	{
		width: auto;
	}
	
	#center
	{
		display: flex;
		flex-direction: column;
	}

	#famous
	{
		border-radius: 1rem;
		overflow-x: scroll;
		width: 100%;
	}

	#famous h2, #home h2
	{
		position: sticky;
		width: auto;
		left: 0;
		margin: 0 auto;
	}
	#famous_tiles
	{
		display: flex;
		flex-flow:row nowrap;
		justify-content: center;
		width: 1200px;
		padding: 0;
	}
	
	#famous figure
	{
		min-width:300px;
		width: auto;
		max-height: 150px;
		margin:0 2rem 2rem 0;
	}
	
	#home_tiles
	{
		display: flex;
		flex-flow: row wrap;
	}
	#home figure, #activities figure
	{
		margin: 1rem auto;
		max-width: 333px;
	}
	

	#activities_tiles
	{
		display: flex;
		flex-wrap: wrap;

	}

	#activities figure .tiles_img
	{
		max-width: 100%;
	}


	

}
@media all and (min-width: 768px)
{
	nav
	{
		width: auto;
		margin: 0 3.972%;
		flex-wrap: nowrap;
		align-items: flex-start;
		justify-content: flex-end;
	}
	nav *
	{
	}
	nav #logo
	{
		padding: 2rem 0;
		width: 100%;
	}
	nav #logo img
	{
		margin: 0;
	}
	.nav_links a, #subscribe a
	{
		/*padding: 0;*/
		display: inline;
		border: none;
	}
	.nav_links a:hover, #subscribe a:hover
	{

		border-bottom: none;
	}
	.nav_links , #subscribe 
	{
		padding: 3rem 0;
		margin-top: 5px;
		width: 11.5rem;
	}
	.nav_links:hover , #subscribe:hover 
	{
		border-top:2px solid #0065fc;
		margin-bottom: 0;
		padding-top: 2.875rem;

	}
	nav #subscribe
	{
		order: 4;
		text-align: center;
	}
	#activities figure 
	{
	}
	footer
	{
		margin-top: 3rem;
		flex-direction: row;
		justify-content: flex-start;
		padding: 1.5rem 3.972%;
	}
	footer ul
	{
		margin: 0 auto 0 0;
		padding: 0 1rem;
	}
}

@media all and (min-width: 1325px)
{
	
	#logo img
	{
		width: 8.125rem;
	}
	#search_set
	{
		justify-content: flex-start;
	}
	#search_input
	{
		width: auto;
	}
	#filter_text
	{
		width: auto;
		margin-right: 2rem;
	}
	#center
	{
		flex-flow: row-reverse nowrap;
		justify-content: space-between;
		margin: 0 3.972%;
		width: auto;

	}
	#famous
	{
		width: 31%;
		padding: 0 2.375rem;
		overflow-x: hidden;
	}
	#famous_tiles
	{
		flex-flow: column wrap;
		width: auto;
		align-items: center;
	}


	#famous #famous_tiles figure
	{
		/*margin: 0 auto 1rem auto;*/
		width: auto;
		/*max-width: 150px;*/
	}
	#home
	{
		justify-self: start;
		background-color: #f2f2f2;
		border-radius: 1rem;
		width: 65% ;
		/*width: auto;*/
		padding: 0;

	}
	#home h2, p.more
	{
		margin:0 3.972%;
	}
	#home_tiles
	{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-gap: 2rem;
		padding: 0;
		margin: 0 3.972%;
	}
	#home_tiles figure 
	{

		max-height: 200px;
		width: 100%;
		/*margin: 1rem;*/
	}
	#activities
	{
		margin: 2rem 3.972%;
	}
	#activities h2
	{
		margin: 0;
	}
	#activities figure
	{
		height: 100%;
	}
	
	#activities figure .tiles_img
	{
		min-height: calc(100% - 3rem);

	}
	#activities figcaption
	{
		margin: 1rem 1.25rem!important;
	}

	#activities_tiles
	{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 15.486vw 15.486vw;
		grid-template-areas:  "a b c d"
							  "a e c f";
		grid-gap: 2rem;

	}

	#activity_tile_1
	{

		grid-area: a;
	}
	#activity_tile_2
	{

		grid-area: b;
	}
	#activity_tile_3
	{

		grid-area: e;
	}
	#activity_tile_4
	{

		grid-area: c;
	}
	#activity_tile_5
	{

		grid-area: d;
	}
	#activity_tile_6
	{

		grid-area: f;
	}
}

