@font-face
{
	font-family: 'Raleway';
	src: url('../polices/raleway-variablefont_wght-webfont.eot');
	src: url('../polices/raleway-variablefont_wght-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../polices/raleway-variablefont_wght-webfont.woff')
		format('woff'),
		url('../polices/raleway-variablefont_wght-webfont.woff2')
		format('woff2'),
		url('../polices/raleway-variablefont_wght-webfont.ttf')
		format('truetype'),
		url('../polices/raleway-variablefont_wght-webfont.svg#ralewaythin')
		format('svg');
	font-weight: normal;
	font-style: normal;
}
/*---------GENERIQUE-------------------*/
body{
	position: relative;
	padding: 0 3.472vw;
	margin:0.138vw 0;
	font-family: Raleway, sans-serif;
	font-size: 1.11vw;
}

#main_wrapper
{
	display: grid;
	grid-template-rows: repeat(7, auto);
	margin: auto;
	width: 100%;
}

h2
{
	font-size:1.527vw;
	margin:0;
}

span
{
	font-weight: bold;
}

.tile
{
	display: grid;
	background-color: white;
	box-shadow: 0 0.138vw 0.555vw rgba(0, 0, 0, 0.15);
	border-radius: 0.694vw;
	overflow: hidden;
}

.tiles_img
{
	position: relative;
	overflow: hidden;
	width: 100%;

}

/*---------NAVIGATION------------------*/
nav
{
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, 10.69vw);
	grid-template-rows: 4.166vw;
	justify-content: end;

}
nav div
{
	justify-self: center;
	padding-top: 2.3vw

}
nav div:hover
{
	border-top: 0.208vw solid #0065fc;
	padding-top: 2.152vw;

}

nav a
{
	color: black;
	text-decoration: none;
}

#subscribe a
{
	font-weight: bold;
	color: #0065fc;
}

/*------------------lOGO-------------------*/
#logo img
{
	width: 6.944vw;
}
#logo
{
	position: absolute;
}

/*-----------------SEARCH BAR---------------*/
#map_marker
{
	background: no-repeat center/1.111vw url("../data/images/ico/map-marker-alt-solid.svg") #f2f2f2;
	width: 3.472vw;
	height: 3.472vw;
	border-radius: 0.694vw 0 0 0.694vw;
}

#search_bar h2
{
	margin-top: 5.555vw;
	margin-bottom: 1.180vw;
}

#search_set
{
	display: flex;
	margin-bottom: 2.222vw;
}

#search_input
{
	box-sizing: content-box;
	margin: 0;
	border: 1px solid #f2f2f2;
	padding-left: 1.180vw;

}

#search_set button
{
	width: 9.375vw;
	height: 3.472vw;
	color: white;
	text-align: center;
	background-color: #0065fc;
	border-radius:0 0.694vw 0.694vw 0;
	border: none;
}

#search_input, #search_set button
{
	font-family: Raleway, sans-serif;
	font-weight: bold;
	font-size: 1.25vw;
}

#search_bar label
{
	display: block;
	margin-bottom: 1.388vw;
}

/*---------------------FILTRES------------------------*/
#filters
{
	display: flex;
	flex-direction: row;
	align-items: center;

}
#filter_text
{
	font-weight: bold;
	margin-right: 2.430vw;
}
.filter_contain
{
	position: relative;
	display: flex;
	border: 0.138vw solid #f2f2f2;
	height: 2.083vw;
	width: auto;
	align-items: center;
	padding-left: 2.77vw;
	padding-right: 0.555vw;
	border-radius: 1.38vw;
	margin-right: 1.736vw;
}

.ico_filter
{
	position: absolute;
	width:2.22vw;
	height:2.22vw;
	top: -0.07vw;
	left: -0.07vw;
	background: no-repeat center/50% #deebff;
	border-radius: 1.041vw;

}
.text_filter
{
	margin: auto;
	font-weight: bold;
}


/*------------------ICONS--------------------*/
.money-bill
{
	background-image: url("../data/images/ico/money-bill-wave-solid.svg");
}

.child
{
	background-image: url("../data/images/ico/child-solid.svg");
}

.heart
{
	background-image: url("../data/images/ico/heart-solid.svg");
}

.dog
{
	background-image: url("../data/images/ico/dog-solid.svg");
}

.ico_star, .ico_star_off
{
	width: 0.972vw;
	height: 0.972vw;
	margin-right: 0.138vw;
}

.ico_star
{
	background: no-repeat center/cover url("../data/images/ico/star-solid-light.svg");
}

.ico_star_off
{
	background: no-repeat center/cover url("../data/images/ico/star-solid-light-off.svg");
}
.stars
{
	display: flex;
	margin-left: 0.2777vw;
}

/*-------------------------INFO-----------------------*/
#info
{
	display: flex;
	align-items: center;
	margin: 2.777vw 0 2.777vw 0;
}
#info p 
{
	margin: 0.069vw 0 0.069vw 1.388vw;
}
#ico_info
{

	background: no-repeat center/22% url("../data/images/ico/info-solid.svg");
	border: 0.069vw solid #f2f2f2;
	width: 1.527vw;
	height: 1.527vw;
	border-radius: 0.763vw;
}

/*---------------------- HEBERGEMENTS & FAMOUS---------------- */

#center
{
	display: grid;
	grid-template-columns:60.83vw 29.166vw;
	grid-column-gap: 3.055vw;
}

#home, aside
{
	background-color: #f2f2f2;
	display: grid;
	grid-template-rows: 3.263vw auto;
	border-radius: 0.694vw;

}
/*-----------------HEBERGEMENTS---------------------*/
#home
{
	padding: 3.125vw 3.125vw 0 3.125vw;
}

#home_tiles
{
	display: grid;
	grid-template-columns: repeat(3, 17.013vw);
	grid-template-rows: 13.888vw 13.888vw;
	grid-gap: 2.083vw
}

#home_tiles .tile
{
	grid-template-rows: repeat(4, 1fr);
	padding: 0.347vw 0.347vw 0.694vw 0.347vw;
	justify-content: stretch;
	align-content: stretch;

}
#home_tiles .tiles_img
{
	background-color: black;
	height: 7.896vw;
	border-radius: 0.555vw 0.555vw 0 0;
	margin-bottom: 0.972vw;
}

#home_tiles .tile .tiles_img img
{
	
	position: absolute;
 	max-width: 100%;
 	min-width: 100%;
}

#home_tiles .tile .stars
{
	margin-left: 0.486vw;
}


#home_tiles .tile p
{
	margin: 0 0 0.486vw 0.486vw;
}

#home_tiles .tile .price_tile
{
	font-size: 0.875em;
}

.more a
{
	text-decoration: none;
	color: black;
}

.more
{
	margin: 2.777vw 0;

}
/*-------------------FAMOUS-----------------*/
aside
{
	padding: 3.125vw;

}
aside h2
{
	background: no-repeat top right/1.527vw url("../data/images/ico/chart-line-solid.svg");
	
}
#famous_tiles .tile
{
	grid-template-columns: 10.138vw 1fr;
	grid-template-rows: repeat(3, 1fr);
}

#famous_tiles .tiles_img
{
	grid-column: 1;
	grid-row: 1 / 4;
	width: 8.75vw;
	height: 9.583vw;
	margin: 0.208vw;
	border-radius: 0.694vw 0 0 0.694vw;
}
#famous_tiles
{
	display: grid;
	grid-template-rows: repeat(3, 10vw);
	grid-gap: 2.083vw;

}

#famous_tile_3 img
{
	
	position: absolute;
 	width: 100%;
}

#famous_tiles .tile .tiles_img img
{
	
	position: absolute;
 	max-height: 100%;
 	min-height: 100%;
}
.famous_name
{
	font-size: 1.125em;
	font-weight: bold;
	margin: 1.458vw 3.680vw 1.180vw 0;
}


#famous_tiles .tile .price_tile
{
	margin:0 3.680vw 1.736vw 0;
	font-size: 0.875em;
}

/*---------------------ACTIVITIES----------------*/

#activities
{
	margin: 4.513vw 0 3.819vw 0;

}

#activities_tiles .tile
{
	grid-template-rows: auto 3.819vw;
	justify-content: stretch;
}

#activities_tiles .tile .tiles_img
{
	position: relative;
}

#activity_tile_2 .tiles_img img, 
#activity_tile_4 .tiles_img img,
#activity_tile_5 .tiles_img img, 
#activity_tile_6 .tiles_img img
{
	position: absolute;
	max-width: 100%;
	min-width: 100%;
}

#activity_tile_1 .tiles_img img, 
#activity_tile_3 .tiles_img img
{
	position: absolute;
	max-height: 100%;
	min-height: 100%;
}

#activities_tiles
{
	display: grid;
	grid-template-columns: repeat(4, 20.833vw);
	grid-template-rows: 15.486vw 15.486vw;
	grid-template-areas:  "a b c d"
			   			  "a e c f";
	grid-gap: 2.777vw;

}

#activity_tile_1
{
	
	grid-area: a;
}
#activity_tile_2
{
	
	grid-area: b;
}
#activity_tile_3
{
	
	grid-area: c;
}
#activity_tile_4
{
	
	grid-area: d;
}
#activity_tile_5
{
	
	grid-area: e;
}
#activity_tile_6
{
	
	grid-area: f;
}

/*---------------FOOTER----------------------*/

footer
{
	background-color: #f2f2f2;
	position: absolute;
	display: flex;
	top: 100%;
	left: 0;
	width: 100%;
	height: 15.277vw;
}
footer ul
{
	width: 20.833vw;
	margin: 3.472vw 3.472vw 0 3.472vw;
}
footer ul li
{
	list-style-type: none;
	margin: 1.041vw 0 1.041vw 0;
}
footer ul li a
{
	text-decoration: none;
	color: black;
}

/*------------------------------------------------------------------------------*/
/*----------------------MOBILE DEVICES----------------------------*/
/*@media all and (max-width: 900px)
{
	
	
}*/
